@import "variables";

@padding: 50mm;
@imageBorder: 1mm;
@iconSize: 4mm;
.header {
  background: @mainColor;
  color: white;
  font-size: 23pt;
  font-weight: 100;
  font-style: normal;
  padding-left: @padding;
}

.header--name {
  padding-top: 20pt;
  padding-bottom: 5pt;
}

.header--title {
  display: none;
}

.header--position {
  font-size: 0.58em;
  padding-bottom: 15pt;
}

.header--avatar {
  position: absolute;
  top: 0;
  left: 0;
  width: 34mm;
  height: 50mm;
  margin: @imageBorder;
  transform: translate(6mm, 3mm);
}

.header--avatar__border {
  background: @mainColor;
  padding: @imageBorder;
  left: -@imageBorder;
  top: -@imageBorder;
}

.header--avatar__image {
  background: url(/images/avatar-linkedin.jpg) no-repeat 57% 56%;
  background-size: cover;
}

.links {
  float: right;
  display: inline-block;
  font-size: 9pt;
  margin-top: 6mm;
  margin-right: 8mm;
}

.links--icon {
  text-decoration: none;
  color: #ffffff;
  display: block;
  margin: 1mm 0;
  &:before {
    content: ' ';
    display: inline-block;
    vertical-align: top;
    width: @iconSize;
    height: @iconSize;
    margin:1pt;
    margin-right: 3mm;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.links--icon__linkedin {
  &:before {
    background-image: url(/images/linkedin-5-xxl.png);
  }
}
.links--icon__github {
  &:before {
    background-image: url(/images/github-10-xxl.png);
  }
}
.links--icon__bitbucket{
  &:before {
    background-image: url(/images/BitBucket_SVG_Logo 2.svg);
  }
}

.info {
  display: inline-block;
  position: absolute;
  top: 62mm;
  left: 7.4mm;
  font-size: 0.7em;
  font-weight: 300;
  [data-info] {
    vertical-align: middle;
    text-align: right;
    margin-top: 9.21pt;
    &:after {

      display: block;
      font-weight: normal;
      font-size: 0.7em;
      vertical-align: middle;
      color: lighten(@mainColor, 20%);
    }
  }
  [data-info='birth'] {
    &:after {
      content: 'birth';
    }
  }
  [data-info='location'] {
    &:after{
      content: 'location';
    }
  }
  [data-info='email'] {
    &:after {
      content: 'email';
    }
  }
  [data-info='phone'] {
    &:after {
      content: 'phone';
    }
  }
  [data-info='os'] {
    &:after {
      content: 'system';
    }
  }
  [data-info='ide'] {
    &:after {
      content: 'IDE';
    }
  }
}
