@page {
  size: A4 portrait;
  margin: 0;
}

@page primary {
}

section {
  font-family: "Roboto", serif;
  page-break-after: always;
  &.primary-page {
    page: primary;
  }
}

@import "fonts.less";
@import "content";
@import "basics";

section.primary-page {
}
