@import "toc";
@import "bibliography";
@import "margin";
@import "recommended";
@import "language-decorator";
@import "helper";

a {
  text-decoration: none;
  color: black;
  border-bottom: 1px dotted #cccccc;
  padding-bottom: 1pt;
  &.show-page:after {
    content: '(str. ' target-counter(attr(href), page) ')';
    margin-left: 2pt;
  }
  &:not(.no-decoration) {
    &[href^="http://"], &[href^="https://"] {
      &:after {
        content: ' (' attr(href) ')';
      }
    }
  }
}

[trans] {
  font-style: italic;
  word-break-inside: avoid;
  &:before {
    font-style: normal;
    content: ' (' attr(trans) '.';
    padding-right: 2pt;
  }
  &:after {
    padding-left: 1pt;
    font-style: normal;
    content: ')';
  }
}

span[name] {
  font-style: italic;
}

dl {
  display: table;
  div {
    display: table-row;
    dt {
      display: table-cell;
      font-weight:normal;
      &:after {
        float: right;

        padding-left: 2mm;
        padding-right: 2mm;
        content: '—';
      }
    }
    dd {
      display: table-cell;
    }
  }
}

.on-new-page{
  page-break-before:always;
}

a[href^="#chapter:"] {
  white-space: nowrap;
}

q {
  font-style: italic;
}

.keep-inside {
  page-break-inside: avoid;
}

.keep-after {
  page-break-after: avoid;
}

.keep-before {
  page-break-before: avoid;
}

kbd {
  padding: 0.2mm 1mm;
  border: 1px solid #cccccc;
  border-radius: 3px;
}

.terms {
  dt {
    width: auto;
    white-space:nowrap
  }
  dd {
    width: 99%;
  }
}