.table-of {
  font-size: 10pt;
  line-height: 1em;
  table {
    width: 100%;
    td {
      border-collapse: collapse;
      //border: 1px solid red;
    }
    a {
      border: none;
    }
    .section-name {
      line-height: 16pt;
      & > td {
        &:first-child { // 3.2.1
          max-width: 1px;
        }
        &:last-child { // chapter page
          width: 1px;
          max-width: 1px;
        }
      }
      .number {
        padding-right: 3pt;
        vertical-align: top;
      }
      .name {
        vertical-align: top;
        &:after {
          content: leader('.');
          font-size: 6pt;
          line-height: 6pt;
          padding-left: 3pt;
        }
      }
      .page {
        vertical-align: bottom;
        div {
          text-align: right;
          width: 13pt;
          content: target-counter(attr(href), page);
        }
      }
    }
  }
}